.friend {
    float: left;
    margin: 15px;
}

.group__image,
.comment__img,
.album {
    float: left;
    margin-right: 20px;
}

.group__name {
    line-height: 100px;
}

.comment {
    margin: 15px 0;
    margin-left: 20px;
}

.comment:nth-child(odd) {
    background-color: #daecef;
}

.comment__author {
    font-weight: bold;
}

.comment__text {
    font-size: 14px;
}

.photo__info {
    font-size: 12px;
    margin: 10px;
}

.album {
    cursor: pointer;
}
