.friend {
    float: left;
    margin: 15px;
}

.group__image,
.comment__img,
.photos-item,
.album {
    float: left;
    margin-right: 20px;
}

.group__name {
    line-height: 100px;
}

.comment {
    margin: 15px 0;
    margin-left: 20px;
}

.comment:nth-child(odd) {
    background-color: #daecef;
}

.comment__author {
    font-weight: bold;
}

.comment__text {
    font-size: 14px;
}

.photos-item__info {
    font-size: 12px;
    margin: 10px;
}

.album,
.photos-item {
    cursor: pointer;
}

.album {
    position: relative;
}

.album__size {
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #138496;
    width: 20px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
}

.album__title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
