body {
    box-sizing: border-box;
}

body * {
    box-sizing: inherit;
}

#addBlock {
    width: 150px;
    height: 40px;
    margin: auto;
}

#target {
    width: 100%;
    height: 100vh;
}

.newBlock {
    position: absolute;
}


